@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
/*------TAGS----*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", serif;
    margin: 0;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    color: hsl(0, 0%, 100%, 0.75)
    
}

h2 {
    margin: 0;
    font-family: "Big Shoulders Display", serif;
    margin-top: 40px;
}

/*-----------TRIPTIC----------*/
.triptic {
    display: flex;
    flex-direction: column;
    max-width: 302px;
    margin: 0 auto;
}

/*-------------ORANGE---------------*/

.triptic__orange {
    background-color: hsl(31, 77%, 52%);
    padding: 60px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url(images/icon-sedans.svg);
    background-repeat: no-repeat;
    background-position: 40px 30px;
}

.triptic h2 {
    color: white;
    text-transform: uppercase;
    font-size: 34px;

}

.triptic__button {
    background-color: white;
    width: 70%;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
}

.triptic__orange a {
    color: hsl(31, 77%, 52%);
}

.triptic__blue {
    background-color: hsl(184, 100%, 22%);
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-image: url(images/icon-suvs.svg);
    background-repeat: no-repeat;
    background-position: 40px 30px;
}

.triptic__blue a {
    color: hsl(184, 100%, 22%);
}

.triptic__green {
    background-color: hsl(179, 100%, 13%);
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url(images/icon-luxury.svg);
    background-repeat: no-repeat;
    background-position: 40px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.triptic__green a {
    color: hsl(179, 100%, 13%);
}



@media (min-width: 800px) {
    .triptic {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* max-width: 75%; */
        max-width: none;
        height: 100vh;
    }

    .triptic__orange {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .triptic__green {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .triptic>div {
        flex: 0 0 400px;
    }

}
    